<h2> Add a new book </h2>

<%= form_for @the_book do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div>
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>

  <div>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>

  <%= f.button %>

<% end %>
